$med_screen: 1500px;
$large_screen: 1900px;
$container_padding: 1rem;

$radius: .75rem;

$border: #E9E9E9;

$fontsize_base: 16px;

@function size($value) {
    @return calc(#{$fontsize_base} + #{$value}vw);
}

$font_body: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

:root {
    --white: #ffffff;
    --black: #2C2E2A;
    --bg: #ffffff;
    --light: #9ca3af;
    --dark: #232a34;
    --red: #DA291C;
    --yellow: #FFC72C;
    --border: #2e303a;
    --shadow:
        rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --radius-s: .25rem;
    --radius: #{$radius};
    --container-padding: 1.5rem;
    --transition-prop: cubic-bezier(0.75, 0.02, 0.5, 1);
    --transition-duration: .25s;

    @media (max-width: 47.9em) {
        --radius: 1rem;
        --container-padding: 1.15rem;
    }
}