.menu-layout {
  display: flex;
  height: 100vh;
}

.menu {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  padding: 2rem;
  gap: 4rem;
}

.menu--left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.categories {
  display: flex;
  flex-direction: column;
}

.category {
  padding: 0.75rem 1rem 0.75rem .25rem;
  cursor: pointer;
  transition: background 0.15s ease, color 0.15s ease;
  text-align: left;
  display: flex;
  align-items: center;
  gap: .5rem;
  line-height: 1.25;
  border-bottom: 1px solid var(--light);

  span {
    display: block;
    padding-bottom: .25rem;
    border-bottom: 2px solid var(--white);
  }
}


.category.active,
.category:not(.active):hover {
  span {
    border-color: var(--yellow);
  }
}

.category.active {
  span {
    font-weight: 600;
  }
}

.menu--right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}

.menupage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}