.panel {
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--dark);
    text-decoration: none;
    border-radius: var(--radius);

    .panel_body {
        >*:not(strong) {
            @extend .faded;
        }
    }
}

a.panel {
    text-decoration: none;
    transition: background .1s ease 0s;

    &:active {
        transform: translateY(1px);
    }

    &:hover,
    &:focus {
        background-color: color-mix(in srgb, var(--white), black 2%);
    }
}

.panel_body {
    width: 100%;
    padding: 1rem;
}

.panel_body--l {
    width: 100%;
    padding: 2rem;
}