html {
    font-size: $fontsize_base;

    @media (max-width: 47.9em) {
        font-size: $fontsize_base - 1px;
    }

    @media (max-width: 33.9em) {
        font-size: $fontsize_base - 1.5px;
    }
}

body {
    font-family: $font_body;
    color: var(--black);
    background: var(--bg);
    @extend .medium, .text--normal;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p,
ul {
    margin-top: 0;
    margin-bottom: 1.5rem;

    &:has(+ .buttons) {
        margin-bottom: 2.5rem;
    }

    &:last-child,
    &:has(+ p:empty:last-child) {
        margin-bottom: 0;
    }
}

b,
strong,
.bold {
    font-variation-settings: "wght" 600;
}

.medium {
    font-variation-settings: "wght" 500;
    font-weight: 500;
}

.text--s {
    font-size: .75rem;
}

.text--normal {
    font-size: .875rem;
    line-height: 1.7;
}

.intro,
.text--l {
    font-size: clamp(1.3125rem, #{size(0.6)}, 1.375rem);
}

.bold,
strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
    font-weight: 700;
    line-height: 1.1;
    margin-block: 0;
}

h1,
h2 {
    margin-bottom: 1rem;
}

.h1,
h1 {
    font-size: 3.5rem;

    @media(max-width: 61.9em) {
        font-size: 2.75rem;
    }
}

.h2,
h2 {
    font-size: 1.5rem;
    line-height: 118%;
    margin: 0 0 1.5rem;
}

.h3,
h3 {
    font-size: 1.25rem;
    line-height: 118%;
    margin: 0 0 1.5rem;
}

h4,
.h4 {
    @extend .bold;
}

.h5,
h5 {
    @extend .text--s;
}

h4,
h5,
h6 {
    margin: 0;
}